.places {
    margin-bottom: 92px;
    padding: 0 148px;
}

@media all and (min-width: 1024px) and (max-width: 1280px) {
    .places {
        padding: 0 48px;
    }
}

@media all and (min-width: 768px) and (max-width: 1023px) {
    .places {
        padding: 0 24px;
        margin-bottom: 88px;
    }
}

@media all and (min-width: 320px) and (max-width: 767px) {
    .places {
        padding: 0;
        margin-bottom: 64px;
    }
}