.cover__subtitle {
    max-width: 360px;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', 'Arial', sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;;
    font-size: 1.1rem;
    line-height: 1.1;
    color: #ffffff;
    text-align: center;
}

@media all and (max-width: 767px) {
    .cover__subtitle {
        font-size: 0.8rem;
        padding: 0 16px;
    }
}