.footer__link {
    margin: 0;
    padding-right: 18px;
    list-style: none;
}

.footer__link:last-child {
    padding-right: 0;
}

@media all and (min-width: 320px) and (max-width: 767px) {
    .footer__link {
        padding: 0 0 32px;
        font-size: 1.5rem;
        line-height: 1;
    }
    .footer__link:last-child {
        padding: 0 0 0px;
    }
}

