.place__paragraph {
    margin: 0;
    font-family: 'Inter', 'Arial', sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;;
    font-size: 1.1rem;
    line-height: 1.67;
    color: #FFFFFF;
    align-self: start;
}

.place__paragraph:first-child {
    padding-bottom: 24px;
}

@media all and (max-width: 1023px) {
    .place__paragraph {
        font-size: 1rem;
        line-height: 1.63;
    }
}

@media all and (max-width: 767px) {
    .place__paragraph {
        padding: 0 16px;
    }
}
