.footer__copyright {
    margin: 0;
    font-family: 'Inter', 'Arial', sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;;
    font-size: 0.8rem;
    line-height: 1.1;
    color: #ffffff;
}

@media all and (max-width: 767px) {
    .footer__copyright {
       line-height: 1;
    }
}