.footer__link-wrapper {
    margin: 0;
    padding-left: 0;
    display: flex;
}

@media all and (max-width: 767px) {
    .footer__link-wrapper {
        flex-direction: column;
        margin-bottom: 48px;
    }
}