@import url(./__title/intro__title.css);
@import url(./__text/intro__text.css);
@import url(./__list-wrapper/intro__list-wrapper.css);
@import url(./__list/intro__list.css);
@import url(./__counter/intro__counter.css);

.intro {
    max-width: 690px; 
    margin-bottom: 92px;
    padding: 0 148px;
}

@media all and (min-width: 1024px) and (max-width: 1279px) {
    .intro {
        padding: 0 48px;
    }
}

@media all and (min-width: 768px) and (max-width: 1023px) {
    .intro {
        padding: 0 24px;
        max-width: 720px;
        margin-bottom: 88px;
    }
}

@media all and (max-width: 767px) {
    .intro {
        padding: 0 16px;
        margin-bottom: 64px;
    }
}