.lead__subtitle {
    margin: 0 auto;
    max-width: 640px;;
    font-family: 'Inter', 'Arial', sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;;
    color: #ffffff;
    font-size: 1.9rem;
    line-height: 1.2;
    text-align: center;
}

@media all and (max-width: 767px) {
    .lead__subtitle {
        max-width: 288px;
        font-size: 1rem;
        line-height: 1.25;
    }
}