@import url(./__overlay/cover__overlay.css);
@import url(./__title/cover__title.css);
@import url(./__subtitle/cover__subtitle.css);

.cover {
    min-height: 740px;
    display: flex;
    width: calc(100% - 96px);
    margin: 0 48px 92px;
    background-image: url(../../images/cover-trains.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@media all and (max-width: 1279px) {
    .cover {
        width: 100%;
    }
}

@media all and (min-width: 1024px) and (max-width: 1279px) {
    .cover {
        margin: 0 0 92px;
        min-height: 640px;
    }
}

@media all and (min-width: 768px) and (max-width: 1023px) {
    .cover {
        margin: 0 0 88px;
        min-height: 480px;
    }
}

@media all and (max-width: 767px) {
    .cover {
        margin: 0 0 64px;
        min-height: 200px;
    }
}