.place__link {
    font-family: 'Inter', sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;;
    font-size: 1.1rem;
    line-height: 1.2;
    color: #FFFFFF;
}

.place__link:hover {
    opacity: 0.8;
}