.cover__overlay {
    min-height: 740px;
    overflow: hidden;
    background: rgba(42, 44, 47, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s linear;
    position: relative;
}

.cover__overlay:hover {
    background: rgba(42, 44, 47, 0.8);
}

@media all and (min-width: 1024px) and (max-width: 1280px) {
    .cover__overlay {
        width: 100%;
        min-height: 640px;
    }
}

@media all and (min-width: 768px) and (max-width: 1023px) {
    .cover__overlay {
        width: 100%;
        min-height: 480px;
    }
}

@media all and (min-width: 320px) and (max-width: 767px) {
    .cover__overlay {
        width: 100%;
        min-height: 200px;
    }
}