.cover__title {
    margin: 0;
    max-width: 560px;
    font-family: 'Inter', 'Arial', sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;;
    font-size: 4.5rem;
    line-height: 1.05;
    font-weight: 900;
    color: #ffffff;
    padding-bottom: 32px;
    text-align: center;
}

@media all and (max-width: 767px) {
    .cover__title {
        max-width: 288px;
        font-size: 2rem;
        line-height: 1.09;
        padding-bottom: 16px;
    }
}

